@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lexend";
  src: url(/fonts/Lexend-Regular.ttf);
}

@font-face {
  font-family: "Playfair Display";
  src: url(/fonts/PlayfairDisplay-Bold.ttf);
}

.intro {
  text-shadow: 0 4px 4px #abb5c9;
}
